/*html{
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0ODQ0NDQ0NDQ0NDQ0NDQ0NDg8NDQ0OFREWFhURExMYHTQsGBoxGxUTJjEhJTUtLi4vGB8zOD4sNywtLisBCgoKDQ0NFQ8PFTcdFR4rNi0tLSwtMys3Ny43KzcrKys3Ljc3NysvKys3Ky0uLysrLTArLTItKystNysuMi0rK//AABEIAKgBLAMBEQACEQEDEQH/xAAbAAEBAQEBAQEBAAAAAAAAAAAAAQMCBAUGB//EAC8QAQEAAgECBAUDAgcAAAAAAAABAhEDEiEEMUFxBQYTUYEyYbHB8SMkQlJigpH/xAAaAQEBAAMBAQAAAAAAAAAAAAAAAQIDBAUG/8QAKREBAAICAQMCBQUBAAAAAAAAAAECAxEEEiExQaEFInHR8BMyYZHBUf/aAAwDAQACEQMRAD8A/A2tzWAbBdgbBRAAGF3LoUmVm5LZL2slsln7ou5Tao3472gjrYGwAAANgA5yy/cVjllaDvCXzBcstAytv3A3Qd4z7guwN0E2B+QNgmwTYG6CboGwNg6xorSiAALAUQAABnzY+v4FZgA14fL8g0EQAAAAAGXJl6Cpx477+gNMrqAxtAgNMcdAoJQAQAEABAQAAAHWINKACgogAAABlNzQPOKA04PX8A1ENAAaBAAc8mWp+9FZYY7BtbJBGGV2KSbBrjjoFBAAQEAABAQAEAAB1iDSgoLBAAAAFBQeflx1ffuK5vlv03Jv039t/ftUGnBe/wCFG6oIAJQAS3XcHn75UVtqYwGOWWwMcbQbTHXkBQQAEABAQAEoIACAUAHWINaCiAAAKAC6BQZ803PbuD+q/JHwfHh+HYY8uGOWXi/8xzYZ4zLGzKToxuN/4zHt97Xy/wAQ5E35EzWe1e0f77vX42KK4u8ee74Pzz8v+A8LxYc/Dhlw83JyTDHi48v8HKa3lbhfKSf7dd7Hf8M5WfLeaXndYjz6/n1c/Lw46Via9pfjHtOAAAAQefly3dT+9Fd44zGbv5EZ55W329BTDDfsDaQQAoJRUBAAQAEABAQAEAB1iDagCAAAKCyAqgCWbmr5XsD9d8K+e/FcWsfE4Y+JwnbqmuLmk95NX/ye7ys/wnFfvjnpn+4+/u7MfNvXtaNw+d82/HJ47nwz45njw8fHMcMc5Jl1XvnbJb66n/V0cDiTx8cxb90z317NfIzfq23HiHw3a5wAAGfNnqfvUVOHD1v4B935avB9TL6mOP1JOvjzzvbGT9Wt9pfXfn5tGfq1GvD1fhM4eu3XHzeYmff+Pz+Hh+OY8Gfic8+HLqxy756lmP1PWy+s8r77Z4otFdWc3Pthtnm2KdxPn6vG2OIBAASggAqUAEBAAQEABAAdYg2EAAAUFgLQFAAAFAABATK6m6DLjx6r1Xy/lFbKgBUHNBAAAKDkUABAQEABAAQEAB1iDYQBQAWAoCgACgAAoAIDrk4eO8cv1L9Tr1ePpuujX6ur777aY9+rWuzbrH+nvq+ffjXp/wB24ZNQAAg5ABAAAQVAAQEABAKCUEBAAdYg7+pAdTOfcR0ACwFUAAUAFAAAABAAQAEBUHNABAAKDkUBASgAgAJQQEAB1iDW4T7CObxQV6vhV4ePxHDn4jHLk8Pjnvl48ZLlnjq9tWz11+Nteat5x2jHOrejKk1i0dXht8Wz8Pl4jly8JhePw9uP0sMrlcpOmb3u3/V1eqYIyRjiMs7v6mSazaemNQ8sbWAoAAoKCgAAAAgICAAUAHNQAQAAHIoCAAgIACAgIADrEG1EAAWA6UIACwAFBQABAUBASgAgFAQSggIAADmigJQSgAgAICAAgOsQbCAAKDpQABYACwFAB3j0dOW7l17x6JJOizv1dV32v6dfkHFABKCAAgAIgAgIAADmigJQKCAgAICAAgOsQbCAAKDoBQBYACwFAAAABKCUAEAoCCUEBAAAc0UBKBQQEABAQAEB1iDYQABYCwFUAAUFBQAAAAQEABAKAg5ABAAAcigIACAgAICAgAOsQbCAKACwBRQAUAFABQQAEABAAKAg5oAIACUEFAQEoIAACAgIADrEG4iAsABYCgKAAKACgAAgAIAAAggICAAAlBABUBKACAUEoICAA+t8J8P4LLjt8Rz3jz67JjMcu2Opr092q85In5Y7O/jY+Lam819W37f08NbXngAAKCwFUAAAAUAAEAAAABKglBAAAKDmigAICAgAIACAgAOsQagogACgAsoKoAAAAAAAAAA93gfhmfNx8vJjljJxdW8e9yysx6tRqvlisxE+rs4/Cvnx2vWf2/bb58u5ueVbHGAgAAJQQUBKACAgAICAAgLhjcrMcZcssrMccZN223Ukn3SZ1G5Fx/qK1qoogAAACwFlBQFBAUAAbeI8LycXT9TDLDrluPV2tk8+3p5xjW0W3qW3JgyYtdddb8bYsmoQLQS55dNxxzyxl85MrMb7yeZMQyi9ojUTqPq8+OVxv8wRtLsQAABKKgIACAgAAJQQAEAoOsQaUFBYIAAoICgAuwUBQBNA08R8Q5ua448ufVjhOnCak121vfrezCtK13p0ZuTlzRWLzuI8M9snOWglBAc54b9/5FZY5WA3xuxAEoqAAlABAQAEBAKCAAA6xBrYCaB1BD8CroQ0BoDQGqC6v2A1QXQHcDuDDPtlv2orbVETVA0BoDQM+Tj9ZBWeNsBtLsCygmgNAmgLATVBNAaA1QTVBNAaBANA6xgr/9k=),
  linear-gradient(0,rgba(0, 255, 136, 0.5),rgba(247, 0, 255, 0.5));
    font-size: 62.5%;
}
li{
    color: aquamarine;
    font-size: 5rem;
}
li:hover{
    color: #f05123;
    background-color: aliceblue;
}
#fg{
    outline-color: blueviolet;
    font-size: 1.5rem;
}
 .paragraph.p2{
    color: aqua;
    font-size: 1rem;
}
.container div div{
    color: green;
    font-size: 80px;
border-width: 50%;
border-style: dashed;
border-color: aquamarine;
}
h1#uh{
    color: blueviolet;
}
/* .uy{
    color: red;
    font-size: 2rem;
} */
/*#uj{
    color:blue;
    font-size: 2rem;
}
.desc a {
    color: #f05123;
    font-weight: 600; /* chữ đậm */
/* } */

/*.list strong {
    color: #f05123;
}

.copyright a {
    color:var(--text-direction);
    font-weight: 600;
}
:root{
    --text-direction:violet;
}
p:hover{
    background-color: aquamarine;
}
h1:active{
    color: rgb(red, green, blue);
    padding: 100px;
}
html{
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0ODQ0NDQ0NDQ0NDQ0NDQ0NDg8NDQ0OFREWFhURExMYHTQsGBoxGxUTJjEhJTUtLi4vGB8zOD4sNywtLisBCgoKDQ0NFQ8PFTcdFR4rNi0tLSwtMys3Ny43KzcrKys3Ljc3NysvKys3Ky0uLysrLTArLTItKystNysuMi0rK//AABEIAKgBLAMBEQACEQEDEQH/xAAbAAEBAQEBAQEBAAAAAAAAAAAAAQMCBAUGB//EAC8QAQEAAgECBAUDAgcAAAAAAAABAhEDEiEEMUFxBQYTUYEyYbHB8SMkQlJigpH/xAAaAQEBAAMBAQAAAAAAAAAAAAAAAQIDBAUG/8QAKREBAAICAQMCBQUBAAAAAAAAAAECAxEEEiExQaEFInHR8BMyYZHBUf/aAAwDAQACEQMRAD8A/A2tzWAbBdgbBRAAGF3LoUmVm5LZL2slsln7ou5Tao3472gjrYGwAAANgA5yy/cVjllaDvCXzBcstAytv3A3Qd4z7guwN0E2B+QNgmwTYG6CboGwNg6xorSiAALAUQAABnzY+v4FZgA14fL8g0EQAAAAAGXJl6Cpx477+gNMrqAxtAgNMcdAoJQAQAEABAQAAAHWINKACgogAAABlNzQPOKA04PX8A1ENAAaBAAc8mWp+9FZYY7BtbJBGGV2KSbBrjjoFBAAQEAABAQAEAAB1iDSgoLBAAAAFBQeflx1ffuK5vlv03Jv039t/ftUGnBe/wCFG6oIAJQAS3XcHn75UVtqYwGOWWwMcbQbTHXkBQQAEABAQAEoIACAUAHWINaCiAAAKAC6BQZ803PbuD+q/JHwfHh+HYY8uGOWXi/8xzYZ4zLGzKToxuN/4zHt97Xy/wAQ5E35EzWe1e0f77vX42KK4u8ee74Pzz8v+A8LxYc/Dhlw83JyTDHi48v8HKa3lbhfKSf7dd7Hf8M5WfLeaXndYjz6/n1c/Lw46Via9pfjHtOAAAAQefly3dT+9Fd44zGbv5EZ55W329BTDDfsDaQQAoJRUBAAQAEABAQAEAB1iDagCAAAKCyAqgCWbmr5XsD9d8K+e/FcWsfE4Y+JwnbqmuLmk95NX/ye7ys/wnFfvjnpn+4+/u7MfNvXtaNw+d82/HJ47nwz45njw8fHMcMc5Jl1XvnbJb66n/V0cDiTx8cxb90z317NfIzfq23HiHw3a5wAAGfNnqfvUVOHD1v4B935avB9TL6mOP1JOvjzzvbGT9Wt9pfXfn5tGfq1GvD1fhM4eu3XHzeYmff+Pz+Hh+OY8Gfic8+HLqxy756lmP1PWy+s8r77Z4otFdWc3Pthtnm2KdxPn6vG2OIBAASggAqUAEBAAQEABAAdYg2EAAAUFgLQFAAAFAABATK6m6DLjx6r1Xy/lFbKgBUHNBAAAKDkUABAQEABAAQEAB1iDYQBQAWAoCgACgAAoAIDrk4eO8cv1L9Tr1ePpuujX6ur777aY9+rWuzbrH+nvq+ffjXp/wB24ZNQAAg5ABAAAQVAAQEABAKCUEBAAdYg7+pAdTOfcR0ACwFUAAUAFAAAABAAQAEBUHNABAAKDkUBASgAgAJQQEAB1iDW4T7CObxQV6vhV4ePxHDn4jHLk8Pjnvl48ZLlnjq9tWz11+Nteat5x2jHOrejKk1i0dXht8Wz8Pl4jly8JhePw9uP0sMrlcpOmb3u3/V1eqYIyRjiMs7v6mSazaemNQ8sbWAoAAoKCgAAAAgICAAUAHNQAQAAHIoCAAgIACAgIADrEG1EAAWA6UIACwAFBQABAUBASgAgFAQSggIAADmigJQSgAgAICAAgOsQbCAAKDpQABYACwFAB3j0dOW7l17x6JJOizv1dV32v6dfkHFABKCAAgAIgAgIAADmigJQKCAgAICAAgOsQbCAAKDoBQBYACwFAAAABKCUAEAoCCUEBAAAc0UBKBQQEABAQAEB1iDYQABYCwFUAAUFBQAAAAQEABAKAg5ABAAAcigIACAgAICAgAOsQbCAKACwBRQAUAFABQQAEABAAKAg5oAIACUEFAQEoIAACAgIADrEG4iAsABYCgKAAKACgAAgAIAAAggICAAAlBABUBKACAUEoICAA+t8J8P4LLjt8Rz3jz67JjMcu2Opr092q85In5Y7O/jY+Lam819W37f08NbXngAAKCwFUAAAAUAAEAAAABKglBAAAKDmigAICAgAIACAgAOsQagogACgAsoKoAAAAAAAAAA93gfhmfNx8vJjljJxdW8e9yysx6tRqvlisxE+rs4/Cvnx2vWf2/bb58u5ueVbHGAgAAJQQUBKACAgAICAAgLhjcrMcZcssrMccZN223Ukn3SZ1G5Fx/qK1qoogAAACwFlBQFBAUAAbeI8LycXT9TDLDrluPV2tk8+3p5xjW0W3qW3JgyYtdddb8bYsmoQLQS55dNxxzyxl85MrMb7yeZMQyi9ojUTqPq8+OVxv8wRtLsQAABKKgIACAgAAJQQAEAoOsQaUFBYIAAoICgAuwUBQBNA08R8Q5ua448ufVjhOnCak121vfrezCtK13p0ZuTlzRWLzuI8M9snOWglBAc54b9/5FZY5WA3xuxAEoqAAlABAQAEBAKCAAA6xBrYCaB1BD8CroQ0BoDQGqC6v2A1QXQHcDuDDPtlv2orbVETVA0BoDQM+Tj9ZBWeNsBtLsCygmgNAmgLATVBNAaA1QTVBNAaBANA6xgr/9k=);
    font-size: 62.5%;
}
#yc{
    background-image: url(https://d1hjkbq40fs2x4.cloudfront.net/2016-01-31/files/1045.jpg), 
}
table{
    font-size: 3rem;
}
table:hover{
    color: #f05123;
}
#im{
    width: 100%;
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    border: 30px dashed rgba(8, 254, 0, 0.5);
    background-image: url(https://d1hjkbq40fs2x4.cloudfront.net/2016-01-31/files/1045.jpg),
    -o-linear-gradient(0,rgba(0,0,234,0.5),rgba(234,234,0,0.5));
}
#box{
    background-image: url(https://d1hjkbq40fs2x4.cloudfront.net/2016-01-31/files/1045.jpg), -o-linear-gradient(0,rgba(0,0,234,0.5),rgba(234,234,0,0.5));
    width: 100px;
    height: auto;
    color: #f05123;
}
*/

